%h1 Listing chairs

%table
  %thead
    %tr
      %th Row
      %th Seat
      %th Price
      %th Chair type
      %th Theater
      %th
      %th
      %th

  %tbody
    - @chairs.each do |chair|
      %tr
        %td= chair.row
        %td= chair.seat
        %td= chair.price
        %td= chair.chair_type
        %td= chair.theater.name
        %td= link_to 'Show', chair
        %td= link_to 'Edit', edit_chair_path(chair)
        %td= link_to 'Destroy', chair, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Chair', new_chair_path
