%h1 Listing orders

%table{id:"ordertable" ,class:"table table-striped table-sm"}
  %thead
    %tr
      %th User firstname
      %th showbutton
      %th editbutton
      %th destroybutton

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.user.firstname
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)
        %td= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Order', new_order_path


:javascript
  console.log("Hello")
  $(document).ready(function(){
    $("#ordertable").DataTable({});
  });
