.container
	%h1 Summary order
	-sumprice = 0
	-@order.orderlines.each do |orderline|
		- product = Product.find(orderline.product_id)
		- if (product.productable_type.eql?("Ticket"))
			.card
				.card-header
					Ticket
					.card-body
						- ticket = product.productable
						- chair = Chair.find(ticket.chair_id)
						- timetable = Timetable.find(ticket.timetable_id)
						- movie = Movie.find(timetable.movie_id)
						- theater = Theater.find(timetable.theater_id)
						.div{class:"d-flex justify-content-between"}
							.div{style:"display:flex; flex-direction: row; justify-content: center; align-items: center"}
								%img.img-thumbnail{src:movie.imagelink,width:"232",height:"367",style:"margin-right:5em"}
								%div
									%p.text-left{class:"fs-6"} Movie : #{movie.name}
									%p.text-left{class:"fs-6"} Theater : #{theater.name} 
									%p.text-left{class:"fs-6"} DateTime : #{timetable.datetime_start}
									%p.text-left{class:"fs-6"} Chair : #{chair.row}#{chair.seat}
									%p.text-left{class:"fs-6"} Chair Type : #{chair.chair_type}
									%p.text-left{class:"fs-6"} Price : #{chair.price} THB
							=link_to "X" ,cancleorderline_path(orderline.id),class:"btn btn-danger float-end" ,style:"color:white", confirm:"Are you sure?"
						-sumprice += chair.price

		- if(product.productable_type.eql?("Beverage"))
			.card
				.card-header
					Beverage
					.card-body
						- beverage = product.productable

						.div{class:"d-flex justify-content-between"}
							.div
								%p.text-left{class:"fs-6"} Name : #{beverage.name}
								%p.text-left{class:"fs-6"} Price : #{orderline.price}
								%p.text-left{class:"fs-6"} Quantity : #{orderline.quantity}
							%p.text-right{class:"fs-6"} Total price : #{orderline.price*orderline.quantity} THB
							=link_to "X" ,cancleorderline_path(orderline.id),class:"btn btn-danger float-end" ,style:"color:white", confirm:"Are you sure?"
						-sumprice += orderline.price*orderline.quantity
		%br

	.div{class:"d-flex justify-content-between"}
		%p.text-left{class:"fs-6"}  Total Price : #{sumprice} THB
		.div
			=link_to "Confirm order" ,movieindex_path ,class:"btn btn-primary float-end mx-2" ,style:"color:white"
			
			=link_to "Cancle order" ,cancleorder_path(@order.id) ,class:"btn btn-danger float-end" ,style:"color:white"



								