%h1 Listing theaters

%table{id:"theatertable" ,class:"table table-striped table-sm"}
  %thead
    %tr
      %th Name
      %th Location
      %th showbutton
      %th editbutton
      %th destroybutton

  %tbody
    - @theaters.each do |theater|
      %tr
        %td= theater.name
        %td= theater.location
        %td= link_to 'Show', theater
        %td= link_to 'Edit', edit_theater_path(theater)
        %td= link_to 'Destroy', theater, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Theater', new_theater_path

:javascript
  console.log("Hello")
  $(document).ready(function(){
    $("#theatertable").DataTable({});
  });
