!!!
%html
  %head
    %title Ticketsystem
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    /CSS only
    %link{href:"https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" ,rel:"stylesheet" ,integrity:"sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" ,crossorigin:"anonymous"}

    /JavaScript Bundle with Popper 
    %script{src:"https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" ,integrity:"sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" ,crossorigin:"anonymous"}

    %script{src:"https://code.jquery.com/jquery-3.6.0.min.js"}

    -#%link{:href => "https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css", :rel => "stylesheet", :type => "text/css"}/
    -#%script{:src => "https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js", :type => "text/javascript"}

    %link{:href => "https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.js", :type => "text/javascript"}

  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-info
      .container-fluid
        %a.navbar-brand{:href => "/main"} Minor
        %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          %ul.navbar-nav
            %li.nav-item
              %a.nav-link.active{"aria-current" => "page", :href => "/movieindex"} Home
            %li.nav-item
              %a.nav-link{:href => "/inventorypage"} Inventory
            %li.nav-item
              %a.nav-link{"aria-current" => "page", :href => "/beverage_only"} Buy beverage
        %ul.navbar-nav{style:"display:inline-block"}
          %li.nav-item
            %a.nav-link{:href => "/main",style:"float:right"} Logout
          
              
    .container
      = yield
    
